.activity-list-container {
  margin: 30px;
}

.show-all-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.show-all-button {
  margin:0 auto;
  display:block;
}

.left-align {
  text-emphasis: left;
}

.float-right {
  float: right;
}

.icon-margin {
  margin-right: 10px;
}

.mat-card-margin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mat-card-highlighted {
  background-color: #ECECEC;
}