<div class="activity-list-container">
  <mat-card *ngFor="let entry of entries"
    class="mat-card-margin"
    [class.mat-card-highlighted]="entry.activities && entry.activities.length > 0"
    (click)="navigateToNewEntry(entry)">
      <div class="left-align">
        <span>{{entry.date.format('dddd')}}, {{entry.date.format('DD.MM')}}</span>
        <ng-container *ngIf="entry.activities">
          <ng-container *ngFor="let activity of entry.activities">
            <fa-icon *ngIf="isCyclingActivity(activity)"
              [icon]="faBiking"
              class="float-right icon-margin">
            </fa-icon>
            <fa-icon *ngIf="isRunningActivity(activity)"
              [icon]="faRunning"
              class="float-right icon-margin">
            </fa-icon>
            <fa-icon *ngIf="isOtherActivity(activity)"
              [icon]="faDumbbell"
              class="float-right icon-margin">
            </fa-icon>
          </ng-container>
        </ng-container>
      </div>
  </mat-card>
  <div class="show-all-container" *ngIf="showShowAllButton">
    <button class="show-all-button" mat-raised-button color="primary" (click)="showAll()">
      Show all
    </button>
  </div>
</div>