.fullscreen {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.spinner {
  position: absolute;
  left: 45%;
  top: 45%
}