.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box-header {
  flex: 0 1 auto;
}

.box-content {
  flex: 1 1 auto;
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

.new-entry-container {
  margin: 30px;
}

.form-input-field {
  width: 100%;
}