<app-loading-screen *ngIf="loading"></app-loading-screen>
<div class="box">
  <div class="box-header">
    <mat-toolbar>
      <button mat-icon-button (click)="cancel()">
        <fa-icon [icon]=faArrowLeft></fa-icon>
      </button>
      <span>{{dateToDisplay}}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="create()">
        <fa-icon [icon]=faCheck></fa-icon>
      </button>
    </mat-toolbar>
  </div>

  <div class="new-entry-container box-content">
    <form [formGroup]="form" (ngSubmit)="create()">

      <mat-form-field class="form-input-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let activity of activities" [value]="activity.value">
            {{activity.displayValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-input-field">
        <mat-label>Duration</mat-label>
        <input matInput type="number" formControlName="duration">
      </mat-form-field>

      <mat-form-field class="form-input-field">
        <mat-label>Distance</mat-label>
        <input matInput type="number" formControlName="distance">
      </mat-form-field>

      <mat-form-field class="form-input-field">
        <mat-label>Comment</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

    </form>
  </div>
</div>